@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0 2px 4px #ccc; */
  background-color: white;
  width: 100%;
  align-items: center;
  padding: 0 28px;
  position: fixed;
  top: 0;
  height: 70px;
}
#first-section {
  background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png);
  background-position: left;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#first-section h1 {
  width: 70%;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 8.8px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}
#first-section p {
  width: 65%;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #8b8b99;
  text-align: center;
  padding-top: 32px;
}
.menu-items {
  color: black;
  font-weight: 600;
  font-size: 12.5px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.5px;
}
#menu {
  display: flex;
  justify-content: space-around;
  width: 28%;
  margin-right: 2%;
  align-items: center;
  padding: 1%;
}
#menu i {
  margin-left: 3px;
}
#logo {
  width: 37px;
  margin: 1.1% 0;
  margin-right: 120%;
}
#buy-button {
  font-size: 11.5px;
  font-weight: 600;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
#fourcards {
  display: flex;
  height: auto;
}
#first-step {
  background-color: #5acda6;
}
#second-step {
  background-color: #91ac41;
}
#third-step {
  background-color: #e4b476;
}
#fourth-step {
  background-color: #f69dad;
}
.content p {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  padding: 2px;
}
.content i {
  font-size: 96px;
}
.content i:hover:hover {
  transform: scale(1.1, 1.1);
  transition: 300ms;
  transition-timing-function: ease-in-out;
}
.content h3 {
  font-size: 24px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: stretch;
  padding: 112px 48px;
  width: 25%;
  color: white;
  text-align: center;
  height: 75vh;
}
#third-section {
  width: 100%;
  background-color: #f7eee2;
  padding-top: 115px;
  text-align: center;
  height: 100vh;
}
#fresh-food {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
  font-weight: 200;
}
#vegan-store {
  font-size: 45px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
  padding: 10px 0;
}
#store-detail {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #8b8b99;
  letter-spacing: 2px;
  margin-bottom: 55px;
}
#third-section-cards {
  display: flex;
  width: 75%;
  margin: 0 auto;
}
#third-section-cards > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 20px;
}
.icon-container {
  background-color: #e3b375;
  border-radius: 50%;
  padding: 40px;
  color: whitesmoke;
}
.icon-container > i {
  font-size: 60px;
  font-weight: 900;
}
#third-section-cards > div > h2 {
  font-size: 24px;
  font-weight: 600;
}
#third-section-cards > div > p {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
}
#thirdSection {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}
#thirdSection > p:nth-child(1) {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
  margin-top: 35px;
}
#thirdSection > h3:nth-child(2) {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}
#thirdSection > p:nth-child(3) {
  max-width: 700px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin-bottom: 55px;
}
#thirdSection > div:nth-child(4) {
  width: 100%;
  max-width: 1140px; /* change to percentage */
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#thirdSection > div:nth-child(4) div {
  width: 25%;
  text-align: center;
  background-color: #f5f6fb;
  padding: 40px 30px;
  margin: 16px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  transition: box-shadow 0.3s;
  /* profile box hover effect is left to work on */
}
#thirdSection > div:nth-child(4) div img {
  width: 80px;
  margin-bottom: 25px;
  border-radius: 50%;
}
#thirdSection > div:nth-child(4) div > p:nth-child(2) {
  font-size: 14px;
  color: #8b8b99;
  letter-spacing: 0.5px;
  font-style: italic;
  margin: 0;
}
#thirdSection > div:nth-child(4) div > h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 0px;
}
#thirdSection > div:nth-child(4) div > p:nth-child(4) {
  color: #8b8b99;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0;
}

#fourthSection {
  display: flex;
  justify-content: stretch;
}
#fourthSection > div:nth-child(1) {
  width: 67%;
  display: inline-block;
  margin: 0;
}
#fourthSection img {
  width: 100%;
}
#fourthSection > div:nth-child(2) {
  width: 33.33%;
  margin: 0;
  display: inline-block;
  background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
  background-position: left;
  background-size: cover;
}
#fourthSection > div:nth-child(2) div {
  margin: 115px;
  /* background-color: turquoise; */
}
#fourthSection > div:nth-child(2) h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0 0 8px;
}
#fourthSection > div:nth-child(2) p {
  color: #8b8b99;
  font-size: 16px;
  letter-spacing: 0.5;
  line-height: 1.6;
  margin: 0;
}
#fourthSection > div:nth-child(2) input:nth-of-type(1) {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  background-color: white;
  padding: 12px;
  color: #8b8b99;
  font-size: 16px;
  margin-top: 60px;
  display: block;
  outline: none;
}
#fourthSection > div:nth-child(2) input:nth-of-type(2) {
  background-color: #f69dad;
  padding: 16px 42px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 16px;
}

#fifthSection {
  width: 100%;
  background-color: #f6fcfa;
}
#fifthSection > div:nth-child(1) {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
#fifthSection > div:nth-child(1) div {
  width: 25%;
  padding: 0 64px;
}
#fifthSection > div:nth-child(1) div h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
}
#fifthSection > div:nth-child(1) div p {
  color: #57e3b5;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  margin: 0;
}
#fourth-section > div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#fourth-section h3 {
  color: #8b8b99;
  font-size: 44px;
  font-weight: 400;
}
#separator {
  width: 96px;
  display: inline-block;
  height: 1px;
  background-color: #e4b476;
  margin-bottom: 36px;
}
#fourth-section iframe {
  width: 100%;
  height: 425px;
}
#fifth-section {
  width: 75%;
  display: flex;
  margin: 0 auto;
}
#fifth-section > div:nth-of-type(1) {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#fifth-section > div:nth-of-type(2) {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.address {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 140px 0;
}

.green-head {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
}
.sec-head {
  font-weight: 800;
  font-size: 44px;
  margin: 0;
  padding-bottom: 1%;
}
.description {
  font-size: 17px;
  font-weight: 400;
  color: #8b8b99;
  letter-spacing: 0.5px;
}
.store-city {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 32px;
}
.address-lines {
  font-size: 16px;
  font-weight: 400;
  color: #8b8b99;
  letter-spacing: 0.5px;
  line-height: 2;
  margin: 0;
}
#form-div {
  width: 30%;
}
.input-box {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  color: #8b8b99;
  border-radius: 6px;
  border: 1px solid #e5e6ec;
  margin-bottom: 16px;
  box-sizing: border-box;
}
input,
textarea {
  font-family: "Poppins", sans-serif;
  outline: none;
}
#btn-submit {
  font-size: 16px;
}
.primary-button {
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 12px 34px;
  border: 0;
  border-radius: 4px;
  margin-right: 16px;
  cursor: pointer;
}
footer {
  background-color: #232323;
  color: white;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 30px 0px;
}
@media (max-width: 1200px) {
  #menu {
    width: 45%;
  }
}
@media (max-width: 1000px) {
  #treated {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  #fourcards{
      height: unset;
  }
}
@media (max-width: 1020px) {
  #fourthSection > div:nth-child(2) div {
    margin: unset;
    margin: 10% 20%;
  }




}
@media (max-width: 920px) {
  #menu {
    width: 45%;
    padding: 2%;
    /* display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden; */
  }

  #menu > a {
    margin: 0.5%;
  }
  #third-section-cards{
    width: 100%;
  }
  #fourthSection > div:nth-child(2) div {
    margin: unset;
    margin: 8% 10%;
}
}

@media (max-width:805px) {
  #fourthSection > div:nth-child(2) input:nth-of-type(1) {
    padding: 3% 5%;
    font-size: 13px;
    margin-top: 35%;
  }

  #fourthSection > div:nth-child(2) input:nth-of-type(2) {
    padding: 3% 5%;
    font-size: 13px;
  }
  #fourthSection > div:nth-child(2)>div>h3{
  font-size: 26px;
  }
  #fourthSection > div:nth-child(2)>div>p{
    font-size: 14px;
    }
}
@media (max-width: 760px) {
  #menu {
    width: 45%;
    padding: 2%;
  }
  #menu > a:nth-of-type(2) {
    display: none;
  }
  #third-section-cards > div{
    padding: unset;
    width: 100%;
  }
}

@media (max-width: 740px) {
  #menu > button {
    margin-right: 3%;
  }
 
  #menu {
    width: 100%;
  }
}
@media (max-width: 670px) {
    #menu {
      /* background-color: yellow; */
      width: 75%;
      padding: 2%;
    }
    #third-section-cards > div >p{
   font-size: 13px;
   padding-right: 5%;
    }
  }
  @media (max-width: 600px) {
    
      #fourcards{
          flex-direction: column;
      }
    .content {
        padding: 102px 88px;
        width: 100%;
        height: unset;
      }
      #third-section{
        height: unset;
      }
      #third-section-cards{
        flex-direction: column;
      }
      #thirdSection > div:nth-child(4) {
        flex-direction: column;
      }
      #thirdSection > div:nth-child(4) div {
        width: 50%;
      }
  }
@media (max-width: 385px) {
  #menu > button {
    margin-right: 3%;
    font-size: 10px;
    padding: unset;
    padding: 2% 3%;
  }
  #menu {
    width: 100%;
    font-size: 8px;
  }
  nav {
    padding: unset;

    padding-left: 1%;
  }
  #first-section > h1{
 color: red;
 font-size: 15px;
  }
  #first-section{
    /* height: unset; */
    /* height: max-content; */
    height: 50vh;
  }
  .content{
    padding: unset;
    padding: 3% 2%;
  }
}
@media (max-width: 260px) {
  #menu > button {
    margin-right: 3%;
  }
  #menu {
    font-size: 3px;
    font-weight: 200;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}